*{
    box-sizing: border-box;
}
.button:hover{
    cursor: pointer;
    /*box-shadow: lightcyan 1px 1px 1px 1px;*/
    border-radius: 50%;
    border: 1px solid rgba(22, 3, 30, 0.2);
    /*background-color: lightcyan;*/
}


.todoWrapper{
    margin: 10px 5px;
    align-self: flex-start;
    width: 100%;
    list-style-type: none;
    display: flex;
}
.todoOutput{
    padding: 3px 0;
    font-size: 16px;
    resize: none;
    width: 100%;
    border: 0;
    background-color: #fdfcff;
    max-height: 28px;
}
.button{
    background-color: #fdfcff;
    padding: 0 4px;
    border: 1px solid transparent;

}
.buttonImage{
    height: 17px;
    width: 17px;
}
